body {
  background-image: url('thumb-1920-885189.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

#tabela {
  font: 100% sans-serif;
  background-color: rgba(171, 169, 189, 0.719);
  border-collapse: collapse;
  empty-cells: show;
}
#title {
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(83, 42, 42);
  font-size: 4em;
  color: #fffdd9;
}
#tabella {
  width: 23% !important;
  margin: auto;
}
#tabela > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: 0.2em solid rgba(68, 204, 170, 0);
  margin-bottom: 0.5em;
}

/* basic shared rules */
#tabela th,
#tabela td {
  text-align: right;
  padding-right: 0.5em;
}

#tabela th {
  font-weight: bold;
  padding-left: 0.5em;
}

/* header */
#tabela > thead > tr:first-child > th {
  text-align: center;
  color: rgba(0, 0, 255, 0);
}

#tabela > thead > tr + tr > th {
  font-style: italic;
  color: rgba(128, 128, 128, 0);
}

/* fix size of superscript */
#tabela sup {
  font-size: 75%;
}

/* body */
#tabela td {
  background-color: rgba(204, 238, 255, 0.02);
  padding: 0.5em 0.5em 0.5em 3em;
}

#tabela tbody th:after {
  content: ':';
}

/* footer */
#tabela tfoot {
  font-weight: bold;
}

#tabela tfoot th {
  color: rgba(0, 0, 255, 0);
}

#tabela tfoot th:after {
  content: ':';
}

#tabela > tfoot td {
  background-color: rgba(204, 238, 238, 0.014);
}

#tabela > tfoot > tr:first-child td {
  border-top: 0.2em solid rgb(119, 170, 119);
}
